<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Introspect by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <link rel="stylesheet" href="assets/css/main.css" /> -->
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/index" class="logo">ACME</a>
            <nav id="nav">
                <a href="/index">Inicio</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contacto">Contactenos</a>
                <a href="/sevicios">Nuestros servicios</a>
                <a href="/clientes">Clientes</a>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle">
        <span class="fa fa-bars"></span>
    </a>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h1>ACME:
                <span>Enfocados a servirlo
                    <br />Nuestra misión es su comodidad</span>
            </h1>
            <ul class="actions">
                <li>
                    <a href="#" class="button alt">Empezar Ahora</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one">
        <div class="inner">
            <header>
                <h2>Somos la agencia líder de turismo y hospedaje</h2>
            </header>
            <p>Nuestros servicios son avalados por más de 30 años en el mercado regional y acional, nuestra cliente puede dar de eso.
            </p>
            <ul class="actions">
                <li>
                    <a href="#" class="button alt">Ver más</a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Two -->
    <section id="two">
        <div class="inner">
            <article>
                <div class="content">
                    <header>
                        <h3>Su tiempo es nuestra prioridad</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/pic01.jpg" alt="" />
                    </div>
                    <p>Nos preocupamos por el cuplimiento de nuestros circuitos de recorrido.</p>
                </div>
            </article>
            <article class="alt">
                <div class="content">
                    <header>
                        <h3>Desde cualquier parte...</h3>
                    </header>
                    <div class="image fit">
                        <img src="images/pic02.jpg" alt="" />
                    </div>
                    <p>Puede contactarnos desde nuestra web y desde nuestra aplicación móvil.</p>
                </div>
            </article>
        </div>
    </section>

    <!-- Three -->
    <section id="three">
        <div class="inner">
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Servicio completo.</h3>
                    </header>
                    <p>Puede ver todos nuestrso servicios desde la comodidad de su hogar.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">Ver más</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-diamond"></span>
                    <header>
                        <h3>Regalos y presentes</h3>
                    </header>
                    <p>Damos premios y paquetes a nuestros más fieles Clientes.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">Ver más</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="content">
                    <span class="icon fa-laptop"></span>
                    <header>
                        <h3>Soporte las 24 horas</h3>
                    </header>
                    <p>Nuestros encargados le brindarán ayuda y soprte para sus dudas y consultas durante las 24 horas del dia.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">Ver más</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </section>


    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

</body>

</html>